# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
yolov5env/
../yolov5env/

# Jupyter
.ipynb_checkpoints/

# YOLO training outputs
runs/

# Large datasets
datasets/
dataset/
train/
valid/
test/

# Python/IDE
.vscode/

# OS
.DS_Store
Thumbs.db